@media only screen and (max-width: 600px) {


.horscrol {
    overflow-x: auto !important;
    overflow-y:hidden  !important;
}
.horscroldiv{
    position:relative  !important;
    min-width:max-content  !important;
    padding-bottom:15px  !important;
}
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none !important;
}
 a:hover{
    color: red;
    font-weight: bold !important;
    transition:  color ease 1s !important;
    transition:  color font-weight 1s !important;
}
 a.btn:hover{
    transition-duration: 0.1s !important;
    font-weight: normal !important
}
